<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TO-DO List</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
	<body class="{% if session.get('tema') == 'dark' %}bg-dark text-white{% else %}bg-light text-dark{% endif %}">
	<div class="container">
		<h1>Tavs TO-DO List</h1>
		<li>
            <a class="btn-btn-success" href="{{ url_for('registreties') }}">Reģistrēties</a>
        </li>
        <li>
            <a class="btn-btn-primary" href="{{ url_for('pieteikties') }}">Pieteikties</a>
        </li>

		{% block content %} 
		{% endblock %}
		<hr>
		<footer>
			2026. gads - 12.a klase
		</footer>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>