{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center mb-4">Pieteikties</h2>
                <form action="/pieteikties" method="POST">
                    <div class="mb-3">
                        <label for="user" class="form-label">Lietotājvārds</label>
                        <input type="text" class="form-control" id="user" name="lietotajs" required>
                    </div>
                    <div class="mb-3">
                        <label for="parole" class="form-label">Parole</label>
                        <input type="password" class="form-control" id="parole" name="parole" required>
                    </div>
                    <button type="submit" class="btn btn-danger w-100">Pieteikties</button>
                </form>
                <p class="mt-3 text-center small">
                    Vēl nav profila? <a href="{{ url_for('registreties') }}">Reģistrējies šeit!</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}