{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow border-success">
            <div class="card-body">
                <h2 class="text-center mb-4">Reģistrēties ✍️</h2>
                <form action="/registreties" method="POST">
                    <div class="mb-3">
                        <label for="user" class="form-label">Izdomā lietotājvārdu</label>
                        <input type="text" class="form-control" id="user" name="lietotajs" placeholder="Tavs unikālais lietotājvārds:" required>
                    </div>
                    <div class="mb-3">
                        <label for="vards" class="form-label">Tavs īstais vārds</label>
                        <input type="text" class="form-control" id="vards" name="vards" placeholder="Kā tevi saukt?" required>
                    </div>
                    <div class="mb-3">
                        <label for="epasts" class="form-label">Tavs epasts</label>
                        <input type="email" class="form-control" id="epasts" name="epasts" required>
                    </div>
                    <div class="mb-3">
                        <label for="pw" class="form-label">Droša parole</label>
                        <input type="password" class="form-control" id="pw" name="parole" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Izveidot profilu</button>
                </form>
                <p class="mt-3 text-center small">
                <a href="/registreties">Dodies uz pieteikšanos!</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}